name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, dashboard]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy .env
        run: cp ~/einkbackend.env .env

      - name: Build and restart
        run: |
          docker compose build
          docker compose up -d
